* {
    box-sizing: border-box;
    font-family: 'Caveat', cursive;
}

body {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.mainContainer {
    background-image: url("muur.jpg");
    background-position: fixed;
    overflow: hidden;
}

.boardContainer {
    background-color: blue;
    width: 600px;
    height: 800px;
    margin: 40px auto;
    box-shadow: 0 4px 8px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 10px rgba(0, 0, 0, 0.19);
    }

.titleContainer {
    background: grey;
    color: white;
    width: auto;
    height: auto;
    padding-top: 15px;
    text-align: center;
}


.attendanceContainer {
    padding: 5px;
    background-color: rgb(218, 218, 214);
    background-image: url("metallic-effect-in-photoshop.jpg");
    width: 100%;
    height: 100%;
}

.nameCard {
    float: left;
    .padding: 5px;
    text-align: center;
    font-size: 25px;
    width: 50.1%;
    height: 60px;
    border: 1px solid black;
    margin: 2px 0px;
    cursor: pointer;
    background-image: url("achtergrond-naamplaat.jpg");
    background-size: cover;
    
}

.status{
    padding: 0px;
    margin: 0px;
}
  
h2 {
    padding:0px;
    margin:0px;
}

.leftAlign {
    display: inline-block;
    float: left;
    width: 50%;
    height: 2px;
    text-align: center;
}

.rightAlign {
    display: inline-block;
    width: 50%;
    text-align: center;
    
}