* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.mainContainer {
    background-image: url("muur.jpg");
    background-position: fixed;
    overflow: hidden;
}

.boardContainer {
    background-color: rgba(217, 217, 217, 1);
    width: 600px;
    height: 800px;
    margin: 40px auto;
    }

.titleContainer {
    background: grey;
    color: white;
    width: auto;
    height: 15%;
    padding: 15px;
    text-align: center;
}

.attendanceContainer {
    text-align: left;
}

